body {
    background-color: #d8d8d8;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: #344352;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

/* header */
.header {
    padding: 20px 0;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #344352;
    padding: 0;
    margin: 0 0 10px 0;
}

.header__subtitle {
    margin: 0;
}

.header__link-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__link-wrapper a {
    font-weight: 600;
    color: #344352;
    text-transform: uppercase;
    text-decoration: none;
}

.header__button {
    border-radius: 30px;
    padding: 9px 19px;
    background: #e1b98e;

    display: flex;
    align-items: center;
    gap: 10px;
}

.header__button a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.menu-button-inner {
    display: none;
}

.menu-button-inner span {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-left: -10px;
}

@media (max-width: 1023px) {

    .header__wrapper {
        gap: 20px;
    }

    .menu-button-inner {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 30px;
        padding: 0px 15px;
        background: #92d3f2;
        height: 45px;
    }

    .menu-button-inner {
        position: absolute;
        left: 0;
        bottom: -15px;
    }

    .header__inner {
        gap: 10px;
    }

    .header__inner--1 {
        order: 0;
    }

    .header__inner--2 {
        order: 4;
        flex-wrap: wrap;
        padding-left: 150px;
    }

    .header__button {
        order: 2;
    }

    .header__logo {
        width: 52px;
        height: 58px;
    }

    .header__logo img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 735px) {
    .menu-button-inner {
        bottom: -10px;
    }

    .header__link-wrapper a {
        font-size: 12px;
    }
}

@media (max-width: 475px) {
    .header__wrapper {
        gap: 10px;
        position: relative;
    }

    .menu-button-inner {
        width: 45px;
        bottom: 0;
    }

    .header__inner--1 {
        order: 2;
        margin-top: 10px;
    }

    .header__inner--2 {
        gap: 5px;
        padding-left: 70px;
        margin-top: 20px;
    }

    .header__inner--3 {
        padding: 0 0;
    }

    .header__button {
        order: 1;
    }

    .header__link-wrapper a {
        font-size: 14px;
    }

    .header__title {
        font-size: 16px;
    }

    .header__subtitle {
        font-size: 12px;
    }

    .menu-button-inner span {
        display: none;
    }

    .menu-button-inner .burger-icon {
        transform: scale(0.4);
    }

    .header__link-wrapper a {
        font-size: 12px;
    }

    .header__link-img {
        display: none;
    }
}

/* /header */



/* Бургер */
.burger-icon {
    cursor: pointer;
    display: block;
    height: 60px;
    margin: auto;
    position: relative;
    width: 60px;
    margin-top: -10px;
    transform: scale(0.6);
}

.burger-icon span {
    background-color: #f2f2f2;
    display: block;
    height: 5px;
    width: 60px;
    margin-top: 14px;
    opacity: 0.7;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
}

.burger-icon:hover span {
    opacity: 1;
}

.burger-bun-top {
    top: 0;
    transform-origin: 30px 2px;
}

.burger-middle {
    top: 20px;
}

.burger-bun-bottom {
    bottom: 0;
    transform-origin: 30px 2px;
}

.open-burger .burger-bun-top {
    animation: burger-top-open 0.5s linear normal;
    animation-fill-mode: forwards;
}

.open-burger .burger-middle {
    animation: burger-middle-open 0.5s linear normal;
    animation-fill-mode: forwards;
}

.open-burger .burger-bun-bottom {
    animation: burger-bottom-open 0.5s linear normal;
    animation-fill-mode: forwards;
}

@keyframes burger-top-open {
    0% {
        top: 20px;
        transform: rotate(-45deg);
    }

    30% {
        top: 20px;
        transform: rotate(0deg);
    }

    40% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes burger-middle-open {
    0% {
        top: 20px;
        transform: rotate(-45deg);
    }

    30% {
        top: 20px;
        transform: rotate(0deg);
    }

    40% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 20px;
        transform: rotate(0deg);
    }
}

@keyframes burger-bottom-open {
    0% {
        bottom: 20px;
        transform: rotate(45deg);
    }

    30% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    40% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    100% {
        bottom: 0;
        transform: rotate(0deg);
    }
}

.closed-burger span {
    opacity: 1;
}

.closed-burger .burger-bun-top {
    animation: burger-top-close 0.5s linear normal;
    animation-fill-mode: forwards;
}

.closed-burger .burger-middle {
    animation: burger-middle-close 0.5s linear normal;
    animation-fill-mode: forwards;
}

.closed-burger .burger-bun-bottom {
    animation: burger-bottom-close 0.5s linear normal;
    animation-fill-mode: forwards;
}

@keyframes burger-top-close {
    0% {
        top: 0;
        transform: rotate(0deg);
    }

    50% {
        top: 20px;
        transform: rotate(0deg);
    }

    70% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 20px;
        transform: rotate(-45deg);
    }
}

@keyframes burger-middle-close {
    0% {
        top: 20px;
        transform: rotate(0deg);
    }

    50% {
        top: 20px;
        transform: rotate(0deg);
    }

    70% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 20px;
        transform: rotate(-45deg);
    }
}

@keyframes burger-bottom-close {
    0% {
        bottom: 0;
        transform: rotate(0deg);
    }

    50% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    70% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    100% {
        bottom: 20px;
        transform: rotate(45deg);
    }
}


/* / Бургер */