:root {
    --black: #344352;
    --white: #fff;
    --dark-brown: #633B16;
    --light-brown: #e1b98e;
    --gray: #dfebf0;
    --blue: #92D3F2;
    --dark-gray: #566974;
    --light-gray: #ecf4f7;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Технические классы */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex--start {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}


.block {
    display: block;
}

.hidden {
    display: none;
}

@media(max-width:768px) {
    .block {
        display: none;
    }

    .hidden {
        display: block !important;
    }
}


body {
    /* background-color: #7b7575; */
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: #344352;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Анимация кнопок */
.link-wrapper {
    position: relative;
    height: 24px;
    min-width: 60px;
    padding-left: clamp(1.25rem, 0.5rem + 3.75vw, 5rem);
}

.animation-button {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    height: 2.8em;
    padding: 10px 20px;
    outline: none;
    overflow: hidden;
    color: #ffffff;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    z-index: 1;

    background-color: #e1b98e;
}

.animation-button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    line-height: 20em;
    left: -4em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.animation-button:hover {
    color: #fff;
}

.animation-button:hover::before {
    box-shadow: inset 0 0 0 10em #ee3769;
}

/* / Анимация кнопок */

/* header */
.header {
    padding: 20px 0;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #344352;
    padding: 0;
    margin: 0 0 10px 0;
}

.header__subtitle {
    margin: 0;
}

.header__link-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__link-wrapper a {
    font-weight: 600;
    color: #344352;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header__link-wrapper a:hover {
    color: #e1b98e;
}

.header__button {
    border-radius: 30px;
    padding: 9px 19px;
    background: #e1b98e;

    display: flex;
    align-items: center;
    gap: 10px;
}

.header__button a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.menu-button-inner {
    display: none;
}

.menu-button-inner span {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-left: -10px;
}

@media (max-width: 1023px) {

    .header__wrapper {
        gap: 20px;
    }

    .menu-button-inner {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 30px;
        padding: 0px 15px;
        background: #92d3f2;
        height: 45px;
    }

    .menu-button-inner {
        position: absolute;
        left: 0;
        bottom: -15px;
    }

    .header__inner {
        gap: 10px;
    }

    .header__inner--1 {
        order: 0;
    }

    .header__inner--2 {
        order: 4;
        flex-wrap: wrap;
        padding-left: 150px;
    }

    .header__button {
        order: 2;
    }

    .header__logo {
        width: 52px;
        height: 58px;
    }

    .header__logo img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 735px) {
    .menu-button-inner {
        bottom: -10px;
    }

    .header__link-wrapper a {
        font-size: 12px;
    }
}

@media (max-width: 475px) {
    .header__wrapper {
        gap: 10px;
        position: relative;
    }

    .menu-button-inner {
        width: 45px;
        bottom: 0;
    }

    .header__inner--1 {
        order: 2;
        margin-top: 10px;
    }

    .header__inner--2 {
        gap: 5px;
        padding-left: 70px;
        margin-top: 20px;
    }

    .header__inner--3 {
        padding: 0 0;
    }

    .header__button {
        order: 1;
    }

    .header__link-wrapper a {
        font-size: 14px;
    }

    .header__title {
        font-size: 16px;
    }

    .header__subtitle {
        font-size: 12px;
    }

    .menu-button-inner span {
        display: none;
    }

    .menu-button-inner .burger-icon {
        transform: scale(0.4);
    }

    .header__link-wrapper a {
        font-size: 12px;
    }

    .header__link-img {
        display: none;
    }

    .header__link-img-2 {
        opacity: 0;
    }
}

/* /header */



/* Бургер */
.burger-icon {
    cursor: pointer;
    display: block;
    height: 60px;
    margin: auto;
    position: relative;
    width: 60px;
    margin-top: -10px;
    transform: scale(0.6);
}

.burger-icon span {
    background-color: #f2f2f2;
    display: block;
    height: 5px;
    width: 60px;
    margin-top: 14px;
    opacity: 0.7;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
}

.burger-icon:hover span {
    opacity: 1;
}

.burger-bun-top {
    top: 0;
    transform-origin: 30px 2px;
}

.burger-middle {
    top: 20px;
}

.burger-bun-bottom {
    bottom: 0;
    transform-origin: 30px 2px;
}

.open-burger .burger-bun-top {
    animation: burger-top-open 0.5s linear normal;
    animation-fill-mode: forwards;
}

.open-burger .burger-middle {
    animation: burger-middle-open 0.5s linear normal;
    animation-fill-mode: forwards;
}

.open-burger .burger-bun-bottom {
    animation: burger-bottom-open 0.5s linear normal;
    animation-fill-mode: forwards;
}

@keyframes burger-top-open {
    0% {
        top: 20px;
        transform: rotate(-45deg);
    }

    30% {
        top: 20px;
        transform: rotate(0deg);
    }

    40% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes burger-middle-open {
    0% {
        top: 20px;
        transform: rotate(-45deg);
    }

    30% {
        top: 20px;
        transform: rotate(0deg);
    }

    40% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 20px;
        transform: rotate(0deg);
    }
}

@keyframes burger-bottom-open {
    0% {
        bottom: 20px;
        transform: rotate(45deg);
    }

    30% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    40% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    100% {
        bottom: 0;
        transform: rotate(0deg);
    }
}

.closed-burger span {
    opacity: 1;
}

.closed-burger .burger-bun-top {
    animation: burger-top-close 0.5s linear normal;
    animation-fill-mode: forwards;
}

.closed-burger .burger-middle {
    animation: burger-middle-close 0.5s linear normal;
    animation-fill-mode: forwards;
}

.closed-burger .burger-bun-bottom {
    animation: burger-bottom-close 0.5s linear normal;
    animation-fill-mode: forwards;
}

@keyframes burger-top-close {
    0% {
        top: 0;
        transform: rotate(0deg);
    }

    50% {
        top: 20px;
        transform: rotate(0deg);
    }

    70% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 20px;
        transform: rotate(-45deg);
    }
}

@keyframes burger-middle-close {
    0% {
        top: 20px;
        transform: rotate(0deg);
    }

    50% {
        top: 20px;
        transform: rotate(0deg);
    }

    70% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 20px;
        transform: rotate(-45deg);
    }
}

@keyframes burger-bottom-close {
    0% {
        bottom: 0;
        transform: rotate(0deg);
    }

    50% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    70% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    100% {
        bottom: 20px;
        transform: rotate(45deg);
    }
}


/* / Бургер */

/* Навигация */

.header-nav {
    position: relative;
    margin-top: 20px
}

.header-nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #344352;
}

.header-nav>ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    list-style: none;
    margin: 0 30px 10px 0;
    padding: 0;
}

.header-nav li {
    position: relative;
    border-radius: 30px;
    padding: 9px 30px;
}

.header-nav li.is-active {
    background: #92d3f2;
}

.header-nav li.is-active a {
    color: #ffffff;
}

.header-nav .sub-menu li {
    margin-left: 10px
}

.header-nav .sub-menu {
    gap: 0
}

.header-nav a {
    display: block;
    font-weight: 600
}

.sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}

.sub-menu li {
    position: relative;
}

.sub-menu .sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.header-nav li:hover>.sub-menu {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    color: #000
}


@media (max-width: 1023px) {
    .header-nav {
        position: absolute;
        top: 10px;
        left: 15px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, .3) 0px 19px 38px, rgba(0, 0, 0, .22) 0px 15px 12px;
        max-width: 300px;
        height: 60vh;
        overflow: auto;
        z-index: 1;

        margin-top: 140px;
        padding: 30px 20px;

        opacity: 0;
        visibility: hidden;

        transition: all 0.3s ease;
    }

    .header-nav.is-active {
        opacity: 1;
        visibility: visible;
        z-index: 9999;
    }

    .header-nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    @media (max-width: 767px) {
        .header-nav {
            top: 85px;
        }
    }
}

/* /Навигация */

/* Секция HERO */
.hero {
    position: relative;
}

.hero__item {
    border-radius: 20px;
    padding: 90px 0;
}

.swiper-container {
    width: 0;
    min-width: 100%;
    overflow: hidden;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.hero__item {}

.hero__item--first {
    background-color: #dfebf0;
    background-image: url('img/hero-slide-1.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.hero__item--second {
    background-color: #92d3f2;
    background-image: url('img/hero-slide-2.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.hero__item--second .hero__title-span {
    background-color: #ffffff;
    color: #92d3f2;
}

.hero__title {
    display: inline-block;
    position: relative;
    color: rgb(52, 67, 82);
    font-family: Noto Sans;
    font-size: clamp(1.5rem, 1.175rem + 1.625vw, 3.125rem);
    font-weight: 700;
    line-height: 1.2;
    max-width: 830px;
    padding-left: clamp(1.25rem, 0.5rem + 3.75vw, 5rem);
    padding-right: 10px;
    z-index: 1;
}

.hero__title-span {
    position: absolute;
    top: -15px;
    right: 0;

    font-weight: 900;
    font-size: 20px;
    color: #fff;

    border-radius: 10px;
    padding: 9px 30px;
    background: #92d3f2;
    transform: rotate(6deg);

    z-index: -1;
}

.hero__inner {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: clamp(1.25rem, 0.5rem + 3.75vw, 5rem);
    margin-bottom: 30px;
}

.hero__inner p {
    margin: 0;
    color: rgb(52, 67, 82);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

@media (max-width: 570px) {
    .hero__item {
        min-height: 600px;
        padding: 50px 0;
    }

    .hero__inner p {
        font-size: 14px;
    }
}

/* /Секция HERO */

/* services-1 */
.services-1 {
    padding: 70px 0;
}

.services-1__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.services-1__header h2 {
    font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
    max-width: 633px;
    margin: 0;
}

.services-1__header span {
    text-transform: uppercase;
    color: #92d3f2;
}

.services-1__header p {
    font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
    max-width: 633px;
}

.services-1__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    padding: 0;
    margin: 0 0 30px 0;
    list-style: none;
}

.services-1__item {
    border-radius: 30px;
    background: #ecf4f7;
    padding: 30px;
    min-height: 130px;
    transition: all 0.3s ease;
}

.services-1__item:hover {
    background-color: #92d3f2;
}

.services-1__item:hover h3 {
    color: #ffffff;
}

.services-1__item h3 {
    font-size: 20px;
}

.services-1__item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #344352;
}

.services-1__item--1 {
    background-color: #92d3f2;
    background-image: url("./img/big-tooth.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    grid-column: 1/2;
    grid-row: 1/4;
}

.services-1__item--1 a {
    color: #ffffff;
}

.services-1__item--2 {
    background-image: url("./icons/services-icon-1.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 60px;
}

.services-1__item--3 {
    background-image: url("./icons/services-icon-2.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 60px;
}

.services-1__item--4 {
    background-image: url("./icons/services-icon-3.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 60px;
}

.services-1__item--5 {
    background-image: url("./icons/services-icon-4.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 60px;
}

.services-1__item--6 {
    background-image: url("./icons/services-icon-5.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 60px;
}

.services-1__item--7 {
    background-image: url("./icons/services-icon-6.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 60px;
}


@media (max-width: 767px) {
    .services-1__list {
        gap: 20px;
    }

    .services-1__item {
        padding: 30px 15px;
    }

    .services-1__item h3 {
        font-size: 14px;
        margin: 0;
    }
}

@media (max-width: 556px) {
    .services-1__list {
        grid-template-columns: 1fr;
    }

    .services-1__item--1 {
        min-height: 260px;
        background-size: 220px;
    }
}

/* /services */


/* Услуги и цены */

.services {
    margin-top: clamp(10px, 5vw, 20px);
    margin-bottom: clamp(10px, 5vw, 20px);
    padding: 10px;
}

.title__services {
    font-weight: 700;
    font-size: clamp(24px, 5vw, 40px);
    color: var(--black);
    padding-bottom: 20px;

}

.title__services--first {
    color: var(--blue);
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;


}

.services__list--item {
    position: relative;
    padding: 30px;
    border-radius: 30px;
    background-color: var(--light-gray);
    width: 276px;
    min-height: 150px;
    transition: all .5s ease-in-out;

}

@media (max-width: 769px) and (min-width: 450px) {
    .services__list--item {
        width: 160px;
    }

    .services__list li:last-child {
        width: 38% !important;
    }

    .services__list li:nth-last-child(2) {
        width: 38% !important;
    }

    .services__list li:nth-last-child(3) {
        width: 38% !important;
    }

    .services__list li:nth-last-child(4) {
        width: 38% !important;
    }
}

@media (max-width: 450px) {
    .services__list--item {
        width: 111px;
    }

    .services__list li:nth-last-child(1) {
        width: 85% !important;
    }

    .services__list li:nth-last-child(2) {
        width: 85% !important;
    }
}

@media (max-width: 400px) {
    .services__list--item {
        width: 87px;
    }

    .services__list li:nth-last-child(1) {
        width: 85% !important;
    }

    .services__list li:nth-last-child(2) {
        width: 85% !important;
    }
}

.services__list--item_img {
    transition: all .5s ease-in-out;
    background-color: var(--blue);
    border-radius: 6px;
    width: 30px;
    padding: 10px;
    min-height: 20px;

}

/* .services__list--item:hover .services__list--item_img path{
	background-color: var(--light-brown);
} */

.services__list--item:hover .services__list--item_img {
    background-color: var(--white);
}

/* .services__list--item_img path {
	transition: all .5s ease-in-out;
} */


.services__list--item:hover .services__list--item_img path {
    transition: all .5s ease-in-out;
    fill: var(--light-brown);
}

.services__list--item:hover {
    background-color: var(--light-brown);

}

.services__list--item:hover {
    background-color: var(--light-brown);

}


.services__list--item:hover .services__list--item_title {
    color: var(--white);
}

.services__list--item:hover .services__list--item_price {
    color: var(--white);
}

.services__list--item:active {
    background-color: var(--blue);
}


.services__list--item:active .services__list--item_img path {
    fill: var(--blue);
}



.services__list--item_title {
    color: var(--black);
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    padding: 15px 0;
    transition: all 0.5s ease-in-out;
}

.services__list--item_price {
    color: var(--black);
    font-size: clamp(14px, 5vw, 18px);
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    padding: 5px 0;
    transition: all 0.5s ease-in-out;
}

.services__list li:last-child {
    background-image: url('../img/services/srvs_10.png');
    background-position: right;
    background-repeat: no-repeat;
    width: 44%;
    background-size: 50%;
}


.services__list li:nth-last-child(2) {
    width: 44%;
    background-image: url('../img/services/srvs_9.png');
    background-repeat: no-repeat;
    background-position: 10px;
    background-position: right;
    background-size: 50%;

}


.services__list--item_link {
    display: none;
    transition: all 0.5s ease-in-out;
}

.services__list--item:hover .services__list--item_link {
    display: block;
    position: absolute;
    right: 30px;
    top: 45px;
}


.services__list li:nth-last-child(2) .services__list--item_img,
.services__list li:nth-last-child(1) .services__list--item_img {
    display: none;
}

/* Стили для team */

.team {
    margin-top: clamp(10px, 5vw, 20px);
    margin-bottom: clamp(10px, 5vw, 20px);
    padding: 10px;
}

.title__team {
    font-weight: 700;
    font-size: clamp(10px, 5vw, 50px);
    color: var(--black);
    padding-bottom: 20px;
}


.team--item__container {
    padding: 25px;
    background-color: var(--light-gray);
    border-radius: 20px;
    min-height: 430px;
}

.team__swiper {
    overflow: hidden;
    min-width: 100%;
    width: 0;
}



.team--item__container {
    width: 287px;
}

.team--item_name {
    color: var(--black);
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: clamp(16px, 1vw, 18px);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}


.team--item_desc {
    color: var(--black);
    font-size: clamp(12px, 1vw, 18px);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 30px;
}


.team--item_exp {
    color: var(--white);
    font-size: clamp(16px, 1vw, 18px);
    font-weight: 500;
    border-radius: 20px;
    background-color: var(--light-brown);
    padding: 10px;
    width: max-content;
    text-align: start;
}

.team--item_img {
    border-radius: 20px;
    width: 293px;

}


/* Стили для smile */


.smile {
    margin-top: clamp(10px, 5vw, 20px);
    margin-bottom: clamp(10px, 5vw, 20px);
    padding: 10px;
}


.smile__swiper {
    overflow: hidden;
    min-width: 100%;
    width: 0;
}


.swiper-wrapper .swiper-slide--color:nth-child(odd) {
    background-color: var(--blue);
    border-radius: 20px;
    padding: 30px;
}

.swiper-wrapper .swiper-slide--color:nth-child(even) {
    background-color: var(--light-brown);
    border-radius: 20px;
    padding: 30px;
}


.smile--item_author {
    border-radius: 45px;
    width: 60px;
    height: 60px;
}

.smile--item_img {
    padding-top: 25px;
    border-radius: 20px;
    width: 254px;
    height: 150px;

}

.smile--item_name,
.smile--item_age {
    color: var(--white);
    font-size: clamp(14px, 1vw, 18px);
}

.smile--title {
    color: var(--white);
}

.smile--text {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.smile--link {
    color: var(--white);
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;

}


@media (max-width:1037px) {
    .smile--item_img {
        width: 200px;
    }
}

@media (max-width:856px) {
    .smile--item_img {
        scale: 1.2;
    }
}

@media (max-width:856px) {
    .smile--item_img {
        scale: .9;
        border-radius: 20px;
    }
}

@media (max-width:769px) {
    .smile--item_img {
        width: 173px;
        height: 70px;
        border-radius: 20px;
    }
}

/* Стили для info */

.techno {
    margin-top: clamp(10px, 5vw, 20px);
    margin-bottom: clamp(10px, 5vw, 20px);
    padding: 30px;
}

.techno__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.techno__list--item {
    padding: 30px;
    border: 1px solid rgb(223, 235, 240);
    border-radius: 20px;
    max-width: 400px;
    max-height: 464px;
}

.techno__list--item_title {
    color: var(--black);
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.techno__list--item_desc {
    padding: 30px 0;
    color: rgb(86, 105, 116);
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0
}

.techno__list li:first-child {
    background-image: url(../img/pattern.png);
    background-repeat: no-repeat;
    background-position: left bottom;

}

.techno__list li:last-child {
    max-width: 45%;
    max-height: 50%;
}

.techno__list li:nth-last-child(2) {
    max-width: 45%;
    max-height: 50%;
}



@media(max-width:769px) {
    .techno__list--item {
        max-width: 262px;
        max-height: 600px;
    }

    .techno__list li:last-child {
        max-width: 100%;
    }

    .techno__list li:nth-last-child(2) {
        max-width: 36%;
    }


}

@media(max-width:650px) {
    .techno__list--item {
        max-width: 300px !important;
    }
}


/* Стили для контактов */

.contact__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

@media(max-width: 1920px) {
    .contact--first {
        padding: 36px 30px;
        width: 30%;
        border-radius: 20px;
        background-color: var(--light-gray);
    }
}

.contact--second {
    max-width: 60%;
    position: relative;
}

.map {
    border-radius: 20px;
}

@media (max-width:1200px) {
    .map {
        width: 600px;
    }
}

@media (max-width:769px) {
    .map {
        width: 400px;
    }
}

@media (max-width:450px) {
    .contact--first {
        width: 100% !important;
    }

    .contact--second_img {
        right: -111px;

    }
}

.contact--title {
    font-size: clamp(24px, 1vw, 40px);
    color: var(--black);
    padding-bottom: 40px;
    font-weight: 700;
}

.contact--desc {
    color: var(--black);
    font-size: clamp(16px, 1vw, 24px);
    padding-bottom: 40px;
    font-weight: 700;
}

.contact--adress {
    color: var(--black);
    font-size: clamp(14px, 1vw, 18px);
    padding-bottom: 40px;
    font-weight: 700;
}

.contact--phone {
    padding-left: 10px;
    padding-bottom: 10px;
    color: var(--black);
    padding-bottom: 40px;
    font-weight: 700;
    text-decoration: none;
}


.button {
    cursor: pointer;
    margin: 20px 0 0 0;
    border: 1px solid var(--light-brown);
    border-radius: 30px;
    background-color: var(--light-brown);
    color: var(--white);
    padding: 9px 30px;
}

.contact--second_img {
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 20px;
    background-color: var(--white);
    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    height: 140px;
}

.contact--second_img_thumb {
    padding: 10px;
    width: 130px;
    height: 130px;
    border-radius: 20px;
    display: flex;
}

/* technologies */

.technologies {
    padding: 70px 0;
}

.technologies__title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
    color: #344352;
    margin-bottom: 30px;
}

.technologies__title span {
    color: var(--blue);
}

.technologies__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.technologies__text {
    font-weight: 500;
    font-size: 20px;
    color: #566974;
    margin-bottom: 50px;
}

/* /technologies */