body {
    background-color: #d8d8d8;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: #344352;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

/* header */
.header {
    padding: 20px 0;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #344352;
    padding: 0;
    margin: 0 0 10px 0;
}

.header__subtitle {
    margin: 0;
}

.header__link-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__link-wrapper a {
    font-weight: 600;
    color: #344352;
    text-transform: uppercase;
    text-decoration: none;
}

.header__button {
    border-radius: 30px;
    padding: 9px 19px;
    background: #e1b98e;

    display: flex;
    align-items: center;
    gap: 10px;
}

.header__button a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.menu-button-inner {
    display: none;
}

.menu-button-inner span {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-left: -10px;
}

@media (max-width: 1023px) {

    .header__wrapper {
        gap: 20px;
    }

    .menu-button-inner {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 30px;
        padding: 0px 15px;
        background: #92d3f2;
        height: 45px;
    }

    .menu-button-inner {
        position: absolute;
        left: 0;
        bottom: -15px;
    }

    .header__inner {
        gap: 10px;
    }

    .header__inner--1 {
        order: 0;
    }

    .header__inner--2 {
        order: 4;
        flex-wrap: wrap;
        padding-left: 150px;
    }

    .header__button {
        order: 2;
    }

    .header__logo {
        width: 52px;
        height: 58px;
    }

    .header__logo img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 735px) {
    .menu-button-inner {
        bottom: -10px;
    }

    .header__link-wrapper a {
        font-size: 12px;
    }
}

@media (max-width: 475px) {
    .header__wrapper {
        gap: 10px;
        position: relative;
    }

    .menu-button-inner {
        width: 45px;
        bottom: 0;
    }

    .header__inner--1 {
        order: 2;
        margin-top: 10px;
    }

    .header__inner--2 {
        gap: 5px;
        padding-left: 70px;
        margin-top: 20px;
    }

    .header__inner--3 {
        padding: 0 0;
    }

    .header__button {
        order: 1;
    }

    .header__link-wrapper a {
        font-size: 14px;
    }

    .header__title {
        font-size: 16px;
    }

    .header__subtitle {
        font-size: 12px;
    }

    .menu-button-inner span {
        display: none;
    }

    .menu-button-inner .burger-icon {
        transform: scale(0.4);
    }

    .header__link-wrapper a {
        font-size: 12px;
    }

    .header__link-img {
        display: none;
    }

    .header__link-img-2 {
        opacity: 0;
    }
}

/* /header */



/* Бургер */
.burger-icon {
    cursor: pointer;
    display: block;
    height: 60px;
    margin: auto;
    position: relative;
    width: 60px;
    margin-top: -10px;
    transform: scale(0.6);
}

.burger-icon span {
    background-color: #f2f2f2;
    display: block;
    height: 5px;
    width: 60px;
    margin-top: 14px;
    opacity: 0.7;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
}

.burger-icon:hover span {
    opacity: 1;
}

.burger-bun-top {
    top: 0;
    transform-origin: 30px 2px;
}

.burger-middle {
    top: 20px;
}

.burger-bun-bottom {
    bottom: 0;
    transform-origin: 30px 2px;
}

.open-burger .burger-bun-top {
    animation: burger-top-open 0.5s linear normal;
    animation-fill-mode: forwards;
}

.open-burger .burger-middle {
    animation: burger-middle-open 0.5s linear normal;
    animation-fill-mode: forwards;
}

.open-burger .burger-bun-bottom {
    animation: burger-bottom-open 0.5s linear normal;
    animation-fill-mode: forwards;
}

@keyframes burger-top-open {
    0% {
        top: 20px;
        transform: rotate(-45deg);
    }

    30% {
        top: 20px;
        transform: rotate(0deg);
    }

    40% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes burger-middle-open {
    0% {
        top: 20px;
        transform: rotate(-45deg);
    }

    30% {
        top: 20px;
        transform: rotate(0deg);
    }

    40% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 20px;
        transform: rotate(0deg);
    }
}

@keyframes burger-bottom-open {
    0% {
        bottom: 20px;
        transform: rotate(45deg);
    }

    30% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    40% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    100% {
        bottom: 0;
        transform: rotate(0deg);
    }
}

.closed-burger span {
    opacity: 1;
}

.closed-burger .burger-bun-top {
    animation: burger-top-close 0.5s linear normal;
    animation-fill-mode: forwards;
}

.closed-burger .burger-middle {
    animation: burger-middle-close 0.5s linear normal;
    animation-fill-mode: forwards;
}

.closed-burger .burger-bun-bottom {
    animation: burger-bottom-close 0.5s linear normal;
    animation-fill-mode: forwards;
}

@keyframes burger-top-close {
    0% {
        top: 0;
        transform: rotate(0deg);
    }

    50% {
        top: 20px;
        transform: rotate(0deg);
    }

    70% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 20px;
        transform: rotate(-45deg);
    }
}

@keyframes burger-middle-close {
    0% {
        top: 20px;
        transform: rotate(0deg);
    }

    50% {
        top: 20px;
        transform: rotate(0deg);
    }

    70% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 20px;
        transform: rotate(-45deg);
    }
}

@keyframes burger-bottom-close {
    0% {
        bottom: 0;
        transform: rotate(0deg);
    }

    50% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    70% {
        bottom: 20px;
        transform: rotate(0deg);
    }

    100% {
        bottom: 20px;
        transform: rotate(45deg);
    }
}


/* / Бургер */

/* Навигация */

.header-nav {
    position: relative;
    margin-top: 20px
}

.header-nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #344352;
}

.header-nav>ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    list-style: none;
    margin: 0 30px 10px 0;
    padding: 0;
}

.header-nav li {
    position: relative;
    border-radius: 30px;
    padding: 9px 30px;
}

.header-nav li.is-active {
    background: #92d3f2;
}

.header-nav li.is-active a {
    color: #ffffff;
}

.header-nav .sub-menu li {
    margin-left: 10px
}

.header-nav .sub-menu {
    gap: 0
}

.header-nav a {
    display: block;
    font-weight: 600
}

.sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}

.sub-menu li {
    position: relative;
}

.sub-menu .sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.header-nav li:hover>.sub-menu {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    color: #000
}


@media (max-width: 1023px) {
    .header-nav {
        position: absolute;
        top: 10px;
        left: 15px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, .3) 0px 19px 38px, rgba(0, 0, 0, .22) 0px 15px 12px;
        max-width: 300px;
        height: 60vh;
        overflow: auto;
        z-index: 1;

        margin-top: 140px;
        padding: 30px 20px;

        opacity: 0;
        visibility: hidden;

        transition: all 0.3s ease;
    }

    .header-nav.is-active {
        opacity: 1;
        visibility: visible;
    }

    .header-nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    @media (max-width: 767px) {
        .header-nav {
            top: 85px;
        }
    }
}

/* /Навигация */